.App{
  overflow: hidden;
  background-color: #0b0827;
  // color: #ffffff, #898a8d, #5758BB,

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}