.contact-page_wrapper {
    display: flex;
    margin: 20vh 0;
    justify-content: space-evenly;
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    

    .form-wrapper{
        flex-basis: 40%;
    }
}

.contact-form {
    label {
        // background: #f1f1f134;
        width: fit-content;
    }
}

.contact-info{
    position: relative;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .search {
        color: #FFF;
        width: 40vw;

        .style-date {
            font-style: italic;
            font-weight: 600;
            color: #C1D2FA;
        }
    }

    .pos-btn {
        display: flex;
        justify-content: center;

    }

    .btn-cv {
        background-color: #C1D2FA;
        border: solid black 2px;
        color: black;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        margin-top: 30px;
        cursor: pointer;

        &:hover {
            background-color: #8ca2d6fd;
            transition: all 0.3s;
        }
    }
    
    .icons-reseaux {
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
        

        .icon {
            padding: 0 2rem;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            flex-direction: column;
            width: 10%;
            cursor: pointer;

            &:hover i , &:hover h4{
                color: #C1D2FA;
                transition: all 0.3s;
            }

            h4 {
                margin: 0;
                padding: 10px 0;

            }

            i{
                font-size: 2rem;
                padding: 10px 0;
            }
        }
    }

    h2{
        width: 100%;
        margin: 5vh auto;
    }

    h2, .linkedin, .email, .github {
        // background-color: #f1f1f134;
        width: fit-content;
        color: #FFF;
        
    }
}



@media screen and (max-width: 900px) {
    .contact-page_wrapper {
        display: flex;
        flex-direction: column;
        margin: 10vh 0;

        .contact-info {
            display: flex;
            align-items: center;
            width: 80vw;
            margin: 0 auto;

            .search {
                width: 100%;
            }

            .icons-reseaux {
                width: 80vw;

            }
        }
    }
    .contact-wrapper{
        flex-direction: column;
        margin: 5vh 0;
        
    
        .form-wrapper{
            flex-basis: 40%;
        }
    }
}