.contact {
    position: relative;
    max-width: 500px;
    margin: 0 auto;

    .contact-form{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        color: #FFF;
            font-weight: bold;

        input, textarea, button {
            margin: 0.3rem 0 1rem 0;
            padding: .3rem;
            border: solid black 1px;
            

        }

        button{
            font-size: 1rem;
        }

        .btn-send {
            background-color: #C1D2FA;
            border: solid black 2px;
            color: black;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: #8ca2d6fd;
                transition: all 0.3s;
            }
        }

    }
}