@font-face {
        font-family: 'megrim';
        font-weight: normal;
        font-style: normal;
        src: url(../fonts/Megrim.ttf) format("ttf"),
        url(../fonts/Megrim.woff) format("woff");
        
      }

.navbar-logo {
    padding-left: 10vw;
    font-family: 'megrim';
    font-size: 1.5rem;

}
.navbar {
    position: fixed;
    z-index: 4;

    width: 100%;
    min-height: 60px;
    // padding: 1rem;
    background-color: #f1f1f132;
    color: white;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;


    .navbar-links {
        display: flex;
        padding-right: 10vw;
        

        .navbar-link{
            color: inherit;
            padding: 0 0.5rem;

            &:hover {
                color: rgb(149, 125, 241);
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'megrim';

        a{
            text-decoration: none;
        }
    }
}

.navbar-burger {
    width: 40px;
    height: 40px;
    display: none;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 767px) {
    .navbar-links {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        align-items: center;

        right: 0;
        left:-100vw;
        bottom: 0;
        height: 100vh;
        width: 0;
        background-color: black;
        visibility: hidden;
        transition: all 0.8s ease-out;


        .navbar-link{
            display: block;
            padding: 1.5rem;
            font-size: 5vw;
        }

        .navbar-item {
            padding: 2rem 0;
            
            
        }

    }

    .show-nav .navbar-links {
        left: 0;  
        width: 100vw;
        visibility: visible;

    }

    .navbar-burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: white;
        right: 0.5rem;
        transition: all 0.5s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burger-bar::before {
        transform: translateY(-12px);
    }

    .burger-bar::after {
        transform: translateY(12px);
        
    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }

    .show-nav .burger-bar {
        background-color: transparent;
        width: 0;
    }


    .navbar-item {
        transform: translateX(-100vw);
    }

    .show-nav .navbar-item {
        transform: translateX(0);
    }

    .show-nav .slideInDown1{
        transition: all 1s ease;
    }

    .show-nav .slideInDown2{
        transition: all 1.2s ease;
    }

    .show-nav .slideInDown3{
        transition: all 1.4s ease;
    }

    .show-nav .slideInDown4{
        transition: all 1.6s ease;
    }

    .show-nav .slideInDown5{
        transition: all 1.8s ease;
    }
}



// .show-nav .slideInDown-2{
//     transition: all 1.1s ease-out;
// }

// .show-nav .slideInDown-3{
//     transition: all 1.2s ease-out;
// }

// .show-nav .slideInDown-4{
//     transition: all 1.3s ease-out;
// }

// .show-nav .slideInDown-5{
//     transition: all 1.4s ease-out;
// }

