.presentation-wrapper {
    position: relative;
    z-index: 2;
    // background-color: #f1f1f1a1;
    color: #FFF;
    display: flex;
    width: 80vw;
    margin: 15vh auto;

    .my-photo {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transform: scale(1.1);
            transition: all ease 0.3s;
        }
    }

    .aboutme {
        width: 60%;
        text-align: end;
    }
    img{
        border-radius: 50%;
        border: solid #F1F1F1 10px;
    }
}

@media screen and (max-width: 767px) {
    .presentation-wrapper {
        flex-direction: column;
        padding-top: 5vh;

        .my-photo {
            width: 100%;
        }

        .aboutme {
            width: 90%;
            margin: 0 auto;
            text-align: end;
            padding-bottom: 5vh;
        }
    }
}